* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: aqua;
    height: 200px;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.item { 
    background-color: blueviolet;
    flex: 1;
}

.inner-container {
    flex: 1;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.inner-item {
    background-color: orange;
    flex: 1;
    
}